@import '../style/mixins.scss';

main {
    width: 100%;
    min-height: calc(100vh - 8vh - 6vh);
    background-color: azure;

    .products {
        background-color: #eee;
    }

    .selection {
        background-color: wheat;
        position: fixed;
        top: 30vh;
        left: 0;
    }
}